[Unit]
Description=Check every minute that ArcDev's latest commit is deployed

[Timer]
OnBootSec=2min
OnUnitActiveSec=60s
AccuracySec=5s

[Install]
WantedBy=timers.target
